.foot {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: #333;
    height: 20vh;
    box-shadow: 0 0 15px;
    color: #3adfa867;
}

.link-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.link-1 a{
    text-decoration: none;
    color: #3adfa867;
}